services:
  zookeeper:
    image: wurstmeister/zookeeper:latest
    platform: linux/amd64
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888

  kafka:
    image: wurstmeister/kafka:latest
    platform: linux/amd64
    restart: "no"
    links:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

  kafdrop:
    image: obsidiandynamics/kafdrop:3.27.0
    platform: linux/amd64
    restart: "no"
    environment:
      KAFKA_BROKERCONNECT: "kafka:29092"
      JVM_OPTS: "-Xms32M -Xmx512M -Xss512K -noverify"
    ports:
      - 9000:9000
    depends_on:
      - kafka

  mysql:
    image: mysql:8
    platform: linux/amd64
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: amit
      MYSQL_USER: admin
      MYSQL_PASSWORD: amit
      MYSQL_DATABASE: urlShortnerDB
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  redisinsight:
      image: redis/redisinsight:latest
      container_name: redisinsight
      ports:
        - "5540:5540"
      depends_on:
        - redis
volumes:
  mysql_data:
  redis_data: