<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Import log file settings from application.yml -->
    <springProperty scope="context" name="LOG_DIR" source="spring.logs.dir"/>
    <springProperty scope="context" name="LOG_FILE" source="spring.logs.filePath"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender with size-based rolling -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}${LOG_FILE}.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <!-- Reduce Kafka Logging Noise -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <!-- HikariCP and Hibernate -->
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.orm.deprecation" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>

    <!-- Spring Data JPA -->
    <logger name="org.springframework.orm" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.orm.jpa" level="WARN"/>
    <logger name="com.amit" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
